langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-google-genai
langchain-ollama
chromadb
sentence-transformers
langchain-huggingface
langchain-chroma
pypdf
python-dotenv
streamlit
fastapi
uvicorn
ragas
openai<2
litellm<1.80
